<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">배달 현황</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">배달 현황 상세 내역</h2>
      </div>
    </div>
    <!--배달 상세 내역 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">배달 상세 내역 No.2</p>
      </div>
      <div class="text-[14px]">
        <div class="w-full">
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">주문일</div>
              <div class="">2024-03-13 12:10</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소명</div>
              <div class="">백억커피 선부점</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소주소</div>
              <div class="">선부 1087-30</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">업소 전화번호</div>
              <div class="">031-123-1234</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">도착지</div>
              <div class="">[라인로] 안산시 단원구 라인로 12-456호</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문자 번호</div>
              <div class="">010-6655-5655</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문메뉴</div>
              <div class="">아이스 아메리카노 | 카페라떼 아이스 | 티라미수</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">가게 요청사항</div>
              <div class="">종이빨대면 빨대 안주셔도 괜찮아요, 수저,포크 O</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더 요청사항</div>
              <div class="">문 앞에 두시고 벨 눌러주세요</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문 가격</div>
              <div class="">25,000</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">배달료</div>
              <div class="">3,000</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">결제 금액</div>
              <div class="">28,000</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">수수료</div>
              <div class="">300</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더</div>
              <div class="">한은영</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">배달 수단</div>
              <div class="">전동 자전거</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">휴대전화 번호</div>
              <div class="">010-0078-5466</div>
            </div>
          </div>
          <hr>
          <div class="w-full flex justify-center mt-5">
            <TwButton variant="danger" class="w-[4.375rem] text-center text-[13px] text-[#e0e0e0] ">
              확인
            </TwButton>
          </div>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {TwButton} from "vue3-tailwind";
import {ref} from "vue";
const data = ref({
  id: "",
})

</script>
