<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 등록</h2>
    </div>
    <div class="mt-5">
      <el-form
        style="max-width: 600px"
        :model="noticeForm"
        label-width="auto"
        class="demo-ruleForm"
      >
        <div class="text-[13px] text-[#5e5e5e] font-bold mb-1">제목</div>
        <el-form-item prop="title">
          <el-input
            v-model="noticeForm.title"
            style="width: 100%"
            maxlength="50"
            placeholder="제목을 입력해주세요"
            show-word-limit
            type="text"
          />
          <div style="margin: 20px 0"/>
        </el-form-item>
        <div class="text-[13px] text-[#5e5e5e] font-bold mb-1">내용</div>
        <el-form-item prop="text">
          <el-input
            v-model="noticeForm.text"
            maxlength="500"
            style="width: 100%"
            rows="15"
            placeholder="내용을 입력해주세요"
            show-word-limit
            type="textarea"
          />
        </el-form-item>
      </el-form>
      <el-form>
        <el-form-item label=" " label-width="100px">
          <el-upload action="#"
                     v-model="noticeForm.file"
                     list-type="picture-card"
                     :on-preview="handlePreview"
                     :on-remove="handleRemove"
                     :on-change="handleChange"
                     :auto-upload="true">
            <el-icon>
              <plus/>
            </el-icon>
          </el-upload>
          <el-dialog v-model="dialogVisible">
            <img style="width:100%;" :src="dialogImageUrl" alt=""/>
          </el-dialog>
        </el-form-item>
      </el-form>
      <div class="flex justify-center">
        <el-form-item>
          <el-button type="primary" @click="submitNotice"
          >등록
          </el-button
          >
          <el-button @click="pushReturnPage">취소</el-button>
        </el-form-item>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref} from 'vue'
import {storeToRefs} from 'pinia'
import {useNoticeStore} from '~/stores/board'
import {Delete, Download, Plus, ZoomIn} from '@element-plus/icons-vue'
import type {UploadFile} from 'element-plus'

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const router = useRouter();
const id = ref('');
const dialogImageUrl = ref('')
const dialogVisible = ref(false)

// 취소버튼 (공지 리스트 페이지)
const pushReturnPage = () => {
  router.push("/notice")
}


// 공지사항 form 그릇
const noticeForm = reactive({
    addItem :{
        image :null,
        name : '',
        content : '',
        price: 0,
        quantity : 1000
    },
    dialogVisible : false,
    dialogImageUrl: '',
  title: '',
  text: '',
  file: '',
})

// 스토어 생성
const boardStore = useNoticeStore();


const submitNotice = () => {
  const payload = {
    title: noticeForm.title,
    text: noticeForm.text,
    file: noticeForm.file
  }
  console.log(payload)
  boardStore.setBoard(payload);
  console.log(noticeForm.title, noticeForm.text, noticeForm.file)
  router.push("/notice")
}
//파일 업로드

const handleRemove = (file: UploadFile) => {
  console.log(file)
}

const handlePreview = (file: UploadFile) => {
  dialogImageUrl.value = file.url!
  dialogVisible.value = true
}

const handleChange = (file: UploadFile) => {
  console.log(file)
    this.addItem.image = file.raw
}

</script>
