<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">가게 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">가게 상세 관리</h2>
      </div>
    </div>
<!--가게 정보 박스 1-->
    <el-form
      :model="storeForm"
      label-width="auto"
      class="demo-ruleForm"
    >
    <div class="w-full mt-2 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9">
<!--        <p class="ml-3 text-[15px]">No. {{ data.id }}</p>-->
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex leading-10">
            <div class="flex w-1/2 ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">가게 명</div>
                <el-form-item prop="storeName">
                    <el-input
                            v-model="storeForm.storeName"
                            style="width: 100%"
                            type="text"
                    />
                </el-form-item>

<!--                <div class="">{{ data.storeName }}</div>-->
            </div>
            <div class="flex w-1/2">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 전화번호</div>
                <el-form-item prop="storeNumber">
                    <el-input
                            v-model="storeForm.storeNumber"
                            style="width: 100%"
                            type="text"
                    />
                </el-form-item>
<!--                <div class="">{{data.storeNumber}}</div>-->
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2 ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">대표자명</div>
                <el-form-item prop="bossName">
                    <el-input
                            v-model="storeForm.bossName"
                            style="width: 100%"
                            type="text"
                    />
                </el-form-item>
<!--                <div class="">{{data.bossName}}</div>-->
            </div>
            <div class="flex w-1/2">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">사업자 번호</div>
                <el-form-item prop="shopId">
                    <el-input
                            v-model="storeForm.shopId"
                            style="width: 100%"
                            type="text"
                    />
                </el-form-item>
<!--                <div class="">{{data.shopId}}</div>-->
            </div>
          </div>
          <hr>
          <div class="flex">
            <div class="py-2 w-32 text-center h-[400px] mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 위치</div>
            <el-form-item prop="storeX">
              <el-input
                  v-model="storeForm.storeX"
                  style="width: 100%"
                  type="text"
              />
            </el-form-item>
            <el-form-item prop="storeY">
              <el-input
                  v-model="storeForm.storeY"
                  style="width: 100%"
                  type="text"
              />
            </el-form-item>
            <el-form-item prop="deliveryArea">
              <el-input
                  v-model="storeForm.deliveryArea"
                  style="width: 100%"
                  type="text"
              />
            </el-form-item>
<!--            <GoogleMap class="py-2"-->
<!--              api-key="AIzaSyAcSXPHg83WSMwZTr2GrzJJPfH-0FSzH0s"-->
<!--              style="width: 75%; height: 400px"-->
<!--              :center= "center"-->
<!--              :zoom="16"-->
<!--            >-->
<!--              <Marker :options="{position: center}" />-->
<!--            </GoogleMap>-->
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(도로명)</div>
                <el-form-item prop="addressStoreDo">
                    <el-input
                            v-model="storeForm.addressStoreDo"
                            style="width: 100%"
                            type="text"
                    />
                </el-form-item>
<!--                <div class="">{{ data.addressStoreDo }}</div>-->
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(지번)</div>
                <el-form-item prop="addressStoreG">
                    <el-input
                            v-model="storeForm.addressStoreG"
                            style="width: 100%"
                            type="text"
                    />
                </el-form-item>
<!--                <div class="">{{ data.addressStoreG }}</div>-->
            </div>
          </div>
            <hr>
            <div class="flex leading-10">
                <div class="flex w-full">
                    <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">운영시간</div>
                    <el-form-item prop="sellTime">
                        <el-input
                                v-model="storeForm.sellTime"
                                style="width: 100%"
                                type="text"
                        />
                    </el-form-item>
<!--                    <div class="">{{data.sellTime}}</div>-->
                </div>
            </div>
            <hr>
            <div class="flex leading-10">
                <div class="flex w-full">
                    <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">휴무일</div>
                    <el-form-item prop="holiday">
                        <el-input
                                v-model="storeForm.holiday"
                                style="width: 100%"
                                type="text"
                        />
                    </el-form-item>
<!--                    <div class="">{{data.holiday}}</div>-->
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <el-form-item>
        <el-button type="primary" @click="submitStore"
        >등록</el-button
        >
        <el-button @click="pushReturnPage">취소</el-button>
      </el-form-item>
    </div>
    </el-form>
  </div>
</template>
<script setup>
import {TwButton} from "vue3-tailwind";
import {onMounted, reactive, ref} from "vue";
import { GoogleMap, Marker } from 'vue3-google-map'
import { useStoreStore } from '~/stores/store'


const router = useRouter();
const id = ref('');

// 취소버튼 (공지 리스트 페이지)
const pushReturnPage = () =>{
    router.push("/store")
}


// 가게 등록 form 그릇
const storeForm = reactive({
    storeName: '',
    addressStoreDo: '',
    addressStoreG: '',
    storeNumber: '',
    sellTime: '',
    holiday: '',
    deliveryArea: '',
    bossName: '',
    shopId: '',
    storeX: '',
    storeY: '',
})

// 스토어 생성
const storeStore = useStoreStore()

const submitStore = () => {
  const payload =  {
      storeName:storeForm.storeName,
      addressStoreDo:storeForm.addressStoreDo,
      addressStoreG:storeForm.addressStoreG,
      storeNumber:storeForm.storeNumber,
      sellTime:storeForm.sellTime,
      holiday:storeForm.holiday,
      deliveryArea:storeForm.deliveryArea,
      bossName:storeForm.bossName,
      shopId:storeForm.shopId,
      storeX:storeForm.storeX,
      storeY:storeForm.storeY,
  }
  storeStore.setStore(payload)
  router.push("/store")
}


// const center = { lat:, lng:  }
const center = { lat: 37.2738370966339, lng: 126.571555037643 }


// onMounted(async () => {
//   id.value = router.currentRoute.value.params.id;
//   console.log(id.value);
//   try {
//     const response = await fetch(`http://matddak.shop:8080/v1/store/detail/${id.value}`);
//     const json = await response.json();
//     data.value = json.data;
//   } catch (error) {
//     console.log('', error);
//   }
// });

</script>
