<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { onMounted, ref } from "vue";
import {Search} from "@element-plus/icons-vue";
const value = ref('')
const search = ref('')
const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "입출금 날짜",
      field: "dateMoneyRenewal",
      width: "200px",
      sortable: true,
    },
    {
      label: "라이더명",
      field: "riderName",
      width: "150px",
      sortable: true,
    },
    {
      label: "입출금 타입",
      field: "moneyType",
      width: "150px",
      sortable: true,
    },
    {
      label: "입출금 금액",
      field: "moneyAmount",
      width: "200px",
      sortable: false,
    },
  ],
  data: [],
  limit: 5,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: false,
  },
});

const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("http://matddak.shop:8080/v1/store/all")
    .then((res) => res.json())
    .then((json) => {
      data.value.data = json.list;
    });
});
</script>

<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">입출금 내역 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 입출금 리스트</h2>
      </div>
      <div class="w-2/4"></div>
        <el-input class="!h-[35px] mt-3 w-[365px]"
                  v-model="search"
                  style="width: 365px"
                  size="large"
                  placeholder="검색할 내용을 입력해주세요."
                  :suffix-icon="Search"
        />
    </div>
    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :data="data.data"
        :setting="data.setting"
        @datatable:column-hook="datatableHook"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'storeName'">
            {{ data.storeName }}
          </template>
          <template v-if="column.field === 'addressStoreDo'">
            {{ data.addressStoreDo }}
          </template>
          <template v-if="column.field === 'addressStoreG'">
            {{ data.addressStoreG }}
          </template>
          <template v-if="column.field === 'storeNumber'">
            {{ data.storeNumber }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 text-[#1a1a1a] py-1">
                수정
              </TwButton>
              <TwButton variant="danger" class="bg-[#1a1a1a] h-[30px] py-1">
                삭제
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
  </div>
</template>
