<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 상세보기</h2>
    </div>
    <hr class="mt-4">
    <div class="grid grid-flow-row auto-rows-max">
      <div class="w-full flex justify-center" v-for="board in boards" :key="board.data.id">
        <div class="w-full mx-9">
          <div class="flex justify-between mt-7 mb-2" >
            <div class="font-bold text-[16px]">{{ board.data.title }}</div>
            <div class="text-[12px] mt-2 mr-5">{{ board.data.dateCreate }}</div>
          </div>
          <hr>
          <div class="text-[14px] mt-3 mb-2">
            <div class="flex mt-10 mb-7" >
              <img src="/images/logo/main_logo.png" alt="맛딱로고" class="object-cover w-[200px]" >
            </div>
            <div class="mb-12">
              <p class="font-bold text-[16px] mb-5">{{board.data.text}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="flex justify-end mt-5 mr-12 gap-3">
        <TwButton variant="primary" :ripple="true" class="w-[100px] text-center font-bold text-[14px]">
          수정
        </TwButton>
        <TwButton variant="secondary" :ripple="true" class="w-[100px] text-center font-bold text-[14px]">
          확인
        </TwButton>
      </div>
    </div>
  </div>
</template>

<script setup >
import {
  TwForm,
  TwButton,
  TwFile,
  TwInput,
  TwMultiSelect,
  TwSelect,
  TwToggle,
  TwTextarea,
} from "vue3-tailwind";
import {ref} from "vue";
import {storeToRefs} from "pinia";
import {useNoticeStore} from "~/stores/board";

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const store = useNoticeStore();
const{fetchNotice} = store;
const {boards} = storeToRefs(store);

await fetchNotice(3).then(() =>{
  console.log("123")
}).catch(() =>{
  console.log("실패")
});


const router = useRouter();
const id = ref('');

// const data = ref(
//   {
//     id: '',
//     title:'',
//     text:'',
//     img:'',
//     dateCreate:''
//   }
// )

// onMounted(async () => {
//   id.value = router.currentRoute.value.params.id;
//   try {
//     const response = await fetch(`http://matddak.shop:8080/v1/board/detail/${id.value}`);
//     const json = await response.json();
//     data.value = json.data;
//   }catch (error) {
//     console.error('',error)
//   }
// });
</script>
