<script setup lang="ts">
import {TwButton, TwDatatableClient, TwDatatableServer, useDialog, useToast} from "vue3-tailwind";
import {onMounted, ref} from "vue";
const value = ref('')

useHead({
  title: "Dialog",
});

const dialog = useDialog();
const toast = useToast();
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "40px",
      sortable: true,
    },
    {
      label: "수익 발생 일",
      field: "dateIncome",
      width: "180px",
      sortable: true,
    },
    {
      label: "주문번호",
      field: "delivery",
      width: "80px",
      sortable: false,
    },
    {
      label: "배달료",
      field: "feeTotal",
      width: "120px",
      sortable: false,
    },
    {
      label: "수수료",
      field: "feeAdmin",
      width: "100px",
      sortable: false,
    },
  ],
  data: [],
  limit: 10,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  totalData:"",
  setting: {
    checkbox: false,
  },
});

const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("http://matddak.shop:8080/v1/income/all/1")
      .then((res) => res.json())
      .then((json) => {
        data.value.data = json.list;
      });
});



</script>

<template>
  <div class="">
    <div class="mb-3">
      <h1 class="text-xl font-bold text-[#212121]">순익 통계</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">기간별 통계</h2>
    </div>
    <div class="grid grid-cols-3 gap-4 place-content-center">
      <div class="border rounded-[.250rem] h-[97px] tracking-[-0.2px]">
        <div class="ml-5 my-2.5 h-[97px]">
          <div class="text-[#212121] text-[16px] font-bold">일반통계</div>
          <div class="text-[#bebebe] text-[12px]">2024-03-13</div>
          <div class="text-[15px] font-bold text-[#5e5e5e] mt-3">₩ 5,123,053</div>
        </div>
      </div>
      <div class="border rounded-[.250rem] h-[97px] tracking-[-0.2px]">
        <div class="ml-5 my-2.5 h-[97px]">
          <div class="text-[#212121] text-[16px] font-bold">주간통계</div>
          <div class="text-[#bebebe] text-[12px]">2024-03-06 ~ 2024-03-13</div>
          <div class="text-[15px] font-bold text-[#5e5e5e] mt-3">₩ 5,123,053</div>
        </div>
      </div>
      <div class="border rounded-[.250rem] h-[97px] tracking-[-0.2px]">
        <div class="ml-5 my-2.5 h-[97px]">
          <div class="text-[#212121] text-[16px] font-bold">월간통계</div>
          <div class="text-[#bebebe] text-[12px]">2024-02</div>
          <div class="text-[15px] font-bold text-[#5e5e5e] mt-3">₩ 5,123,053</div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-temp">
    <TwDatatableClient
        class="!dark:text-gray-200"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :data="data.data"
        :setting="data.setting"
        @datatable:column-hook="datatableHook"
    >
      <template #row="{ column, data }">
        <template v-if="column.field === 'id'">
          {{ data.id }}
        </template>
        <template v-if="column.field === 'dateIncome'">
          {{ data.dateIncome }}
        </template>
        <template v-if="column.field === 'delivery'">
          {{ data.delivery }}
        </template>
        <template v-if="column.field === 'feeTotal'">
          {{ data.feeTotal }}
        </template>
        <template v-if="column.field === 'feeAdmin'">
          {{ data.feeAdmin }}
        </template>
        <!--          <template v-if="column.field === 'action'">-->
        <!--            <div class="flex gap-2 justify-center">-->
        <!--              <TwButton variant="primary" class="border border-gray-900">-->
        <!--                Edit-->
        <!--              </TwButton>-->
        <!--              <TwButton variant="danger"> Delete </TwButton>-->
        <!--            </div>-->
        <!--          </template>-->
      </template>
    </TwDatatableClient>
  </div>
</template>
